{:paths   ["src/main"]
 :deps    {}
 :aliases {:build {:extra-paths ["src/build" "target/classes"]
                   :deps {io.github.clojure/tools.build {:mvn/version "0.9.5"}}
                   :ns-default build}
           :dev {:extra-paths ["src/workspaces" "src/dev"]
                 :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]
                 :extra-deps  {org.clojure/clojure         {:mvn/version "1.11.1" :scope "provided"}
                               org.clojure/clojurescript   {:mvn/version "1.11.121" :scope "provided"}
                               com.fulcrologic/fulcro      {:mvn/version "3.6.10" :scope "provided"}
                               thheller/shadow-cljs        {:mvn/version "2.25.5"}
                               com.github.awkay/workspaces {:mvn/version "1.0.3"}
                               camel-snake-kebab {:mvn/version "0.4.3"}
                               nrepl {:mvn/version "1.1.0-alpha1"}
                               cider/cider-nrepl {:mvn/version "0.37.1"}
                               cider/piggieback {:mvn/version "0.5.3"}}}}}
